{% extends 'base.html' %}

{%block title%} Candidados {% endblock %}

{% block content %}
<style>
</style>
<script>

</script>

<input class="form-control" type="text" placeholder="CPF" aria-label="default input example">
<input class="form-control" type="text" placeholder="Nome" aria-label="default input example">
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example">

{% endblock %}