{% extends 'base.html' %}

{%block title%} Candidados {% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Politicos</b></h2></div>
                    <div class="col-sm-2">
                        <a role="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Candidatos</a>
                  </div>
                    <div class="col-sm-2">
                          <a role="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Adicionar</a>
                    </div>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="width: 250px">Nome</th>
                        <th style="width: 100px">Data Nasc.</th>
                        <th style="width: 250px">Candidatura</th>
                        <!-- <th style="width: 200px">Partido</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for p in politicos %}
                    <tr>
                        <td>{{p.nome}}</td>
                        <td>{{p.dataNasc}}</td>
                        <td>{{p.candidatura}}</td>
                        <!-- <td>{{p[3]}}</td> -->
                        <td>
                          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}