{% extends 'base.html' %}

{%block title%} Candidados {% endblock %}

{% block content %}
<style>
    .off{
        background-color: unset;
        border-width: 0px;
    }

    .on{
        border-width: 0px;
        background-color: white;
    }
</style>
function changeClass() {
    document.getElementByClass("off").style = ;
  }
<script>

</script>

<div class="container-fluid">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Politicos</b></h2></div>
                    <div class="col-sm-2">
                        <a role="button" class="btn btn-info add-new" href="/candidatos"><i class="fa fa-plus"></i> Candidatos</a>
                  </div>
                    <div class="col-sm-2">
                          <a role="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Adicionar</a>
                    </div>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="width: 250px">Nome</th>
                        <th style="width: 100px">Data Nasc.</th>
                        <th style="width: 250px">Candidatura</th>
                        <!-- <th style="width: 200px">Partido</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for p in politicos %}
                    <tr>
                        <td>
                            <input type="text" class="off" value={{p.nome}} disabled onclick="changeClass()">
                        </td>
                        <td>{{p.dataNasc}}</td>
                        <td>{{p.candidatura}}</td>
                        <!-- <td>{{p[3]}}</td> -->
                        <td>
                          <a class="edit" title="Edit" data-toggle="tooltip"> editar </a>
                          <a class="delete" title="Delete" data-toggle="tooltip"> deletar    </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}